<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="BibliotecaEntities1" connectionString="metadata=res://*/Infrastructure.BibliotecaModel.csdl|res://*/Infrastructure.BibliotecaModel.ssdl|res://*/Infrastructure.BibliotecaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GL922IR\SQLEXPRESS;initial catalog=Biblioteca;user id=sa;password=123456;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>