# Archivos de sistema
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/
.idea/

# Archivos de logs
*.log

# Archivos temporales de Windows
*.tmp
*.bak
*.swp

# Node.js (si alguna carpeta usa Node sin gitignore propio)
node_modules/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.sqlite
*.db
*.vsidx

# Carpetas de build
bin/
obj/